.dataviser-window {
  width: 100%;
  height: 100%;
}

.dataviser-title {
  text-indent: -0.04em;  
  font-family: var(--header-font);
  color: rgba(var(--black), 1) !important;
  font-size: 4rem !important;
  line-height: 1;
  letter-spacing: 0;
}

.dataviser-panel {
  position: fixed;
  top: var(--root-margin);
  right: var(--root-margin);

  width: 20%;
  padding: 1em 2em;
  box-shadow: var(--default-shadow);
}

.dataviser-body-text {
  font-size: 1rem;
  font-family: var(--body-text);
  color: rgba(var(--black), 0.7);
  letter-spacing: 0.01em;
}

.dataviser-filelist {
  margin-top: 1em;
  width: 25%;
  max-height: 250px;

  border-left: var(--default-left-pad);
  font-size: 1rem;
  color: rgba(var(--black), 0.7);
  overflow: auto;
  overflow-x: hidden;
}

.dataviser-filelist-name {
  margin-bottom: 0.333em;
  margin-left: 1em;
  font-size: 0.8rem;
  color: rgba(var(--black), 0.7);
}

.dataviser-catalogue {
  width: auto;
  height: auto;
} 

.dataviser-import-button {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  left: 0;
  width: 25%;
}

.dataviser-filter-date {
  left: 0;
  width: 100%;
}

.dataviser-filter-locs {
  left: 0;
  width: 100%;
}
