.datagraph {
  transition: 0.3s;
}

.datagraph-title {
  position: relative;
  transform: translate(1rem, -1em);

  font-size: 2rem;
  font-family: SFProBold;
  letter-spacing: -0.02em;
  opacity: 0.8;
}

.datagraph-subtitle {
  position: relative;
  transform: translate(1rem, -0.8em);

  font-size: 0.8rem;
  font-family: SFProItalic;
  letter-spacing: 0.01em;
  opacity: 0.6;
}

.datagraph-x-axis {
  opacity: 0.6;
}

.datagraph-y-axis {
  opacity: 0.6;
}

.data-point {
  cursor: pointer;
}