button-component {
  position: relative;
  display: block;
  padding: 1em;
  margin: 0;

  border-radius: 0.1em;
  background-color: rgba(var(--black), 0.08);
  color: rgba(var(--black), 0.8);

  font-family: var(--body-font);
  text-align: center;
}

button-component:hover {
  background-color: rgba(var(--white), 1);
  box-shadow: var(--default-shadow);
  cursor: pointer;
  scale: 1.003;
}