grid-component {

}

grid-cell-component {
  display: block;
}

.grid-cell {
  position: absolute;
  overflow: hidden;
  color: rgba(var(--black), 0.69);
}

.grid-cell-w1 {
  width: var(--root-cell-width);
}

.grid-cell-w2 {
  width: calc(var(--root-cell-width) * 2 + var(--root-border-size));
}

.grid-cell-w3 {
  width: calc(var(--root-cell-width) * 3 + var(--root-border-size) * 2);
}

.grid-cell-w4 {
  width: calc(var(--root-cell-width) * 4 + var(--root-border-size) * 3);
}

.grid-cell-w5 {
  width: calc(var(--root-cell-width) * 5 + var(--root-border-size) * 4);
}

.grid-cell-h1 {
  height: var(--root-cell-height);
}

.grid-cell-h2 {
  height: calc(var(--root-cell-height) * 2 + var(--root-border-size));
}

.grid-cell-h3 {
  height: calc(var(--root-cell-height) * 3 + var(--root-border-size) * 2);
}

.grid-cell-h4 {
  height: calc(var(--root-cell-height) * 4 + var(--root-border-size) * 3);
}

.grid-cell-h5 {
  height: calc(var(--root-cell-height) * 5 + var(--root-border-size) * 4);
}

.grid-cell-x1 {
  left: 0;
}

.grid-cell-x2 {
  left: calc(var(--root-cell-width) + var(--root-border-size));
}

.grid-cell-x3 {
  left: calc(2 * var(--root-cell-width) + 2 * var(--root-border-size));
}

.grid-cell-x4 {
  left: calc(3 * var(--root-cell-width) + 3 * var(--root-border-size));
}

.grid-cell-x5 {
  left: calc(4 * var(--root-cell-width) + 4 * var(--root-border-size));
}

.grid-cell-y1 {
  top: 0;
}

.grid-cell-y2 {
  top: calc(var(--root-cell-height) + var(--root-border-size));
}

.grid-cell-y3 {
  top: calc(2 * var(--root-cell-height) + 2 * var(--root-border-size));
}

.grid-cell-y4 {
  top: calc(3 * var(--root-cell-height) + 3 * var(--root-border-size));
}

.grid-cell-y5 {
  top: calc(4 * var(--root-cell-height) + 4 * var(--root-border-size));
}
