input-component {
  margin: 0.5em 0 2em 0;
  padding: 0.8em 1em;
  border-left: 4px solid rgba(var(--black), 0.4);

  font-family: SFProItalic;
  color: rgba(var(--black), 0.4);
}

input-component:focus {
  background-color: rgba(var(--highlight), 0.16);
  border-color: rgba(var(--highlight), 1);
  
  font-family: SFPro;
  color: rgba(var(--black), 0.8);
  outline: none;
}