/* Font Definitions */
@font-face {
  font-family: SFPro;
  src: url('./fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
  font-family: SFProItalic;
  src: url('./fonts/SF-Pro-Display-RegularItalic.otf');
}

@font-face {
  font-family: SFProBold;
  src: url('./fonts/SF-Pro-Display-Bold.otf');
}

@font-face {
  font-family: SFProBoldItalic;
  src: url('./fonts/SF-Pro-Display-BoldItalic.otf');
}

/* Variables */
:root {
  --root-rows: 4;
  --root-columns: 5;
  --root-margin: 11vh;
  --root-lines-per-cell: 6;
  --root-base-font-size: calc((100vh - 2 * var(--root-margin)) / (var(--root-rows) * var(--root-lines-per-cell) + var(--root-rows)));
  --root-border-size: var(--root-base-font-size);
  
  --root-line-height: 1.5;
  --root-font-size: calc(var(--root-base-font-size) / var(--root-line-height)); 
  --root-cell-width: calc((100vw - 2 * var(--root-margin) - var(--root-border-size) * (var(--root-columns))) / var(--root-columns));
  --root-cell-height: calc((100vh - 2 * var(--root-margin) - var(--root-border-size) * (var(--root-rows))) / var(--root-rows));
  
  --header-font: SFProBold;
  --header-font-italic: SFProBoldItalic;
  --body-font: SFPro;
  --body-font-italic: SFProItalic;  
  --default-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.04),
    0 2px 2px rgba(0, 0, 0, 0.04),
    0 4px 4px rgba(0, 0, 0, 0.04),
    0 8px 8px rgba(0, 0, 0, 0.04),
    0 16px 16px rgba(0, 0, 0, 0.04);

  --black: 21, 21, 21;
  --white: 255, 255, 255;
}

/* General stylings */
* {
  box-sizing: border-box;
  transition: 0.2s;

  color: rgba(var(--black), 1);
  font-size: var(--root-font-size);
  line-height: calc(var(--root-line-height) * 1em);
}

body {
  font-family: var(--body-font);
}

.root {
  position: absolute;
  margin: var(--root-margin);
  padding: 0;
  font-size: var(--root-font-size);
}

.grid-cell {
  position: absolute;
  color: rgba(var(--black), 0.69);
  overflow: hidden;
}

.grid-cell-w1 {
  width: var(--root-cell-width);
}

.grid-cell-w2 {
  width: calc(var(--root-cell-width) * 2 + var(--root-border-size));
}

.grid-cell-w3 {
  width: calc(var(--root-cell-width) * 3 + var(--root-border-size) * 2);
}

.grid-cell-w4 {
  width: calc(var(--root-cell-width) * 4 + var(--root-border-size) * 3);
}

.grid-cell-w5 {
  width: calc(var(--root-cell-width) * 5 + var(--root-border-size) * 4);
}

.grid-cell-h1 {
  height: var(--root-cell-height);
}

.grid-cell-h2 {
  height: calc(var(--root-cell-height) * 2 + var(--root-border-size));
}

.grid-cell-h3 {
  height: calc(var(--root-cell-height) * 3 + var(--root-border-size) * 2);
}

.grid-cell-h4 {
  height: calc(var(--root-cell-height) * 4 + var(--root-border-size) * 3);
}

.grid-cell-h5 {
  height: calc(var(--root-cell-height) * 5 + var(--root-border-size) * 4);
}

.grid-1-1 {
  top: 0;
  left: 0;
}

.grid-2-1 {
  top: 0;
  left: calc(var(--root-cell-width) + var(--root-border-size));
}

.grid-3-1 {
  top: 0;
  left: calc(2 * var(--root-cell-width) + 2 * var(--root-border-size));
}

.grid-4-1 {
  top: 0;
  left: calc(3 * var(--root-cell-width) + 3 * var(--root-border-size));
}

.grid-5-1 {
  top: 0;
  left: calc(4 * var(--root-cell-width) + 4 * var(--root-border-size));
}

.grid-1-2 {
  top: calc(var(--root-cell-height) + var(--root-border-size));
  left: 0;
}

.grid-2-2 {
  top: calc(var(--root-cell-height) + var(--root-border-size));
  left: calc(var(--root-cell-width) + var(--root-border-size));
}

.grid-3-2 {
  top: calc(var(--root-cell-height) + var(--root-border-size));
  left: calc(2 * var(--root-cell-width) + 2 * var(--root-border-size));
}

.grid-4-2 {
  top: calc(var(--root-cell-height) + var(--root-border-size));
  left: calc(3 * var(--root-cell-width) + 3 * var(--root-border-size));
}

.grid-5-2 {
  top: calc(var(--root-cell-height) + var(--root-border-size));
  left: calc(4 * var(--root-cell-width) + 4 * var(--root-border-size));
}

.grid-1-3 {
  top: calc(2 * var(--root-cell-height) + 2 * var(--root-border-size));
  left: 0;
}

.grid-2-3 {
  top: calc(2 * var(--root-cell-height) + 2 * var(--root-border-size));
  left: calc(var(--root-cell-width) + var(--root-border-size));
}

.grid-3-3 {
  top: calc(2 * var(--root-cell-height) + 2 * var(--root-border-size));
  left: calc(2 * var(--root-cell-width) + 2 * var(--root-border-size));
}

.grid-4-3 {
  top: calc(2 * var(--root-cell-height) + 2 * var(--root-border-size));
  left: calc(3 * var(--root-cell-width) + 3 * var(--root-border-size));
}

.grid-5-3 {
  top: calc(2 * var(--root-cell-height) + 2 * var(--root-border-size));
  left: calc(4 * var(--root-cell-width) + 4 * var(--root-border-size));
}

.grid-1-4 {
  top: calc(3 * var(--root-cell-height) + 3 * var(--root-border-size));
  left: 0;
}

.grid-2-4 {
  top: calc(3 * var(--root-cell-height) + 3 * var(--root-border-size));
  left: calc(var(--root-cell-width) + var(--root-border-size));
}

.grid-3-4 {
  top: calc(3 * var(--root-cell-height) + 3 * var(--root-border-size));
  left: calc(2 * var(--root-cell-width) + 2 * var(--root-border-size));
}

.grid-4-4 {
  top: calc(3 * var(--root-cell-height) + 3 * var(--root-border-size));
  left: calc(3 * var(--root-cell-width) + 3 * var(--root-border-size));
}

.grid-5-4 {
  top: calc(3 * var(--root-cell-height) + 3 * var(--root-border-size));
  left: calc(4 * var(--root-cell-width) + 4 * var(--root-border-size));
}