/* Font Definitions */
@font-face {
  font-family: SFPro;
  src: url('./fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
  font-family: SFProItalic;
  src: url('./fonts/SF-Pro-Display-RegularItalic.otf');
}

@font-face {
  font-family: SFProBold;
  src: url('./fonts/SF-Pro-Display-Bold.otf');
}

@font-face {
  font-family: SFProBoldItalic;
  src: url('./fonts/SF-Pro-Display-BoldItalic.otf');
}

/* Variables */
:root {
  --root-rows: 4;
  --root-columns: 5;
  --root-margin: 11vh;
  --root-lines-per-cell: 6;
  --root-base-font-size: calc((100vh - 2 * var(--root-margin)) / (var(--root-rows) * var(--root-lines-per-cell) + var(--root-rows)));
  --root-border-size: var(--root-base-font-size);
  
  --root-line-height: 1.5;
  --root-font-size: calc(var(--root-base-font-size) / var(--root-line-height)); 
  --root-cell-width: calc((100vw - 2 * var(--root-margin) - var(--root-border-size) * (var(--root-columns))) / var(--root-columns));
  --root-cell-height: calc((100vh - 2 * var(--root-margin) - var(--root-border-size) * (var(--root-rows))) / var(--root-rows));
  
  --header-font: SFProBold;
  --header-font-italic: SFProBoldItalic;
  --body-font: SFPro;
  --body-font-italic: SFProItalic;  
  --default-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.04),
    0 2px 2px rgba(0, 0, 0, 0.04),
    0 4px 4px rgba(0, 0, 0, 0.04),
    0 8px 8px rgba(0, 0, 0, 0.04),
    0 16px 16px rgba(0, 0, 0, 0.04);

  --black: 21, 21, 21;
  --white: 255, 255, 255;
}

/* General stylings */
* {
  box-sizing: border-box;
  transition: 0.2s;

  color: rgba(var(--black), 1);
  font-size: var(--root-font-size);
  font-family: SFPro;
  line-height: calc(var(--root-line-height) * 1em);
}

body {
  font-family: var(--body-font);
}

.root {
  position: absolute;
  margin: var(--root-margin);
  padding: 0;
  font-size: var(--root-font-size);
}